<div class="main">
    <div class="reload" (click)="reloadCalendars()">
        <i class="fa-solid fa-rotate-right" style="font-size: 1.4rem;"></i>
    </div>

    <div class="calendars">
        <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
            optionValue="value"></p-selectButton>

    </div>

    <div class="active-calendars" *ngIf="value==='active'">
        <div *ngFor="let calendar of activeCalendars" class="calendar">
            {{calendar.summary}}
        </div>
    </div>
    <div class="all-calendars" *ngIf="value==='all'">
        <div *ngFor="let calendar of allCalendars" class="calendar">
            {{calendar.summary}} <p-inputSwitch [(ngModel)]="calendar.active"></p-inputSwitch>
        </div>
    </div>

</div>