<div class="main">
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"
        (ngModelChange)="onModeChanged()"></p-selectButton>



    <div class="active-calendars calendars" *ngIf="value==='active'">
        <div *ngFor="let calendar of activeCalendars" class="calendar">
            {{calendar.summary}}
        </div>
    </div>
    <div class="all-calendars calendars" *ngIf="value==='all'">
        <div *ngFor="let calendar of allCalendars" class="calendar">

            <div class="calendar-summary">{{calendar.summary}}
            </div>

            <p-inputSwitch [(ngModel)]="calendar.active" (ngModelChange)="onActiveChanged(calendar)"></p-inputSwitch>
        </div>
    </div>

</div>